dcmrtstruct2nii==2
dicompyler_core==0.5.6
Flask==3.0.3
Flask_Cors==4.0.1
httplib2==0.22.0
ipython==8.12.3
matplotlib==3.6.2
monai==0.7.0
nest_asyncio==1.5.6
nibabel==4.0.2
numpy==1.25.2
opencv_python==4.6.0.66
pandas==1.5.1
Pillow==9.3.0
pydicom==2.3.0
python-dotenv==1.0.1
pytorch_lightning==1.8.3
Requests==2.32.3
scipy==1.14.0
Shapely==2.0.4
torch==1.9.1.+cu111
tqdm==4.64.1
wandb==0.13.5
