<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Arborescence</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <h1>Liste des patients</h1>
    {% for patient_id, patient_data in patients.items() %}
        <h2 class="toggle" data-target="patient{{ patient_id }}">Patient {{ patient_id }}</h2>
        <div id="patient{{ patient_id }}" class="hidden">
            <table>
                <tr>
                    <th>ID de l'étude</th>
                    <th>ID du patient</th>
                    <th>ID de la série</th>
                    <th>ID du SOP</th>
                    <th>Date de traitement</th>
                    <th>Actions</th>
                </tr>
                {% for etude in patient_data.etudes %}
                <tr>
                    <td>{{ etude[0] }}</td>
                    <td>{{ etude[1] }}</td>
                    <td>{{ etude[2] }}</td>
                    <td>{{ etude[3] }}</td>
                    <td>{{ etude[4] }}</td>
                    <td><button class="toggle" data-target="sessions{{ etude[0] }}">Voir les sessions</button></td>
                </tr>
                <tr id="sessions{{ etude[0] }}" class="hidden animation">
                    <td colspan="6">
                        <table>
                            <tr>
                                <th>ID de la session</th>
                                <th>ID du patient</th>
                                <th>Date d'observation</th>
                                <th>Actions</th>
                            </tr>
                            {% for session_id, session_data in patient_data.sessions.items() %}
                            <tr>
                                <td>{{ session_id }}</td>
                                <td>{{ session_data.session['idPatient'] }}</td>
                                <td>{{ session_data.session['dateObservation'] }}</td>
                                <td><button class="toggle" data-target="metastases{{ session_id }}">Voir métastases</button></td>
                            </tr>
                            <tr id="metastases{{ session_id }}" class="hidden animation">
                                <td colspan="4">
                                    <table>
                                        <tr>
                                            <th>ID de la métastase</th>
                                            <th>ID de la session</th>
                                            <th>Volume</th>
                                            <th>Diamètre</th>
                                            <th>Slide début</th>
                                            <th>Slide fin</th>
                                        </tr>
                                        {% for metastase in session_data.metastases %}
                                        <tr>
                                            <td>{{ metastase[0] }}</td>
                                            <td>{{ metastase[1] }}</td>
                                            <td>{{ metastase[2] }}</td>
                                            <td>{{ metastase[3] }}</td>
                                            <td>{{ metastase[4] }}</td>
                                            <td>{{ metastase[5] }}</td>
                                        </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

    <script>
        // Fonction pour dérouler ou replier un élément lorsqu'il est cliqué
        function toggleElement(target) {
            var element = document.getElementById(target);
            element.classList.toggle('hidden'); // Ajoute ou supprime la classe 'hidden' pour dérouler ou replier l'élément
            element.classList.toggle('animation');
        }

        // Récupérer tous les éléments cliquables et leur ajouter un gestionnaire d'événements au clic
        var toggles = document.querySelectorAll('.toggle');
        toggles.forEach(function(toggle) {
            toggle.addEventListener('click', function() {
                var target = this.dataset.target; // Récupérer l'identifiant de la cible à afficher ou masquer
                toggleElement(target); // Appeler la fonction pour dérouler ou replier l'élément correspondant
            });
        });
    </script>

    <button onclick="goBack()">Retour</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <form action="/" method="get">
        <button type="submit">Accueil</button>
    </form>
</body>
</html>
