<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Études</title>
</head>
<body>
    <h1>Liste des Études</h1>
    <table border="1">
        <tr>
            <th>ID de l'Étude</th>
            <th>ID du Patient</th>
            <th>ID de la Série</th>
            <th>ID du SOP</th>
            <th>Date de Traitement</th>
        </tr>
        {% for etude in etudes %}
        <tr>
            <td>{{ etude[0] }}</td>
            <td>{{ etude[1] }}</td>
            <td>{{ etude[2] }}</td>
            <td>{{ etude[3] }}</td>
            <td>{{ etude[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
