<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Métastases</title>
</head>
<body>
    <h1>Liste des Métastases</h1>
    <table border="1">
        <tr>
            <th>ID de la Métastase</th>
            <th>ID de la Session</th>
            <th>Volume</th>
            <th>Diamètre</th>
            <th>Slide Début</th>
            <th>Slide Fin</th>
        </tr>
        {% for metastase in metastases %}
        <tr>
            <td>{{ metastase[0] }}</td>
            <td>{{ metastase[1] }}</td>
            <td>{{ metastase[2] }}</td>
            <td>{{ metastase[3] }}</td>
            <td>{{ metastase[4] }}</td>
            <td>{{ metastase[5] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
