<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Études</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Liste des Études</h1>
    <table border="1">
        <tr>
            <th>ID de l'Étude</th>
            <th>ID du Patient</th>
            <th>ID de la Série</th>
            <th>ID du SOP</th>
            <th>Date de Traitement</th>
            <th>Actions</th>
        </tr>
        {% for etude in etudes %}
        <tr>
            <td>{{ etude[0] }}</td>
            <td>{{ etude[1] }}</td>
            <td>{{ etude[2] }}</td>
            <td>{{ etude[3] }}</td>
            <td>{{ etude[4] }}</td>
            <td><a href="/sessions/{{ etude[1] }}">Afficher les sessions</a></td>
        </tr>
        {% endfor %}
    </table>

    <button onclick="goBack()">Retour</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <form action="/" method="get">
        <button type="submit">Accueil</button>
    </form>
</body>
</html>
