<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Get All Studies</title>
<script>
function getAllStudies() {
    // Modifier l'URL en fonction de l'adresse de votre API Flask
    fetch('http://localhost:5000/getAllStudies')
    .then(response => {
        if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
    })
    .then(data => {
        console.log(data);
    })
    .catch(error => {
        console.error('There was an error fetching the studies:', error);
    });
}

function getStudyInfo() {
    var studyId = document.getElementById('studyId').value;
    if (studyId) {
        // Modifier l'URL en fonction de l'adresse de votre API Flask
        fetch(`http://localhost:5000/getStudy/${studyId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was an error fetching the study info:', error);
        });
    } else {
        console.error('Please enter a study ID.');
    }
}

function getStudyDicoms() {
    var studyId = document.getElementById('studyId').value;
    if (studyId) {
        fetch(`http://localhost:5000/getStudyDicoms/${studyId}`)
        .then(response => {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        })
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('There was an error fetching the DICOMs:', error);
        });
    } else {
        console.error('Please enter a study ID to get DICOMs.');
    }
}
</script>
</head>
<body>

<button onclick="getAllStudies()">Get All Studies</button>
<input type="text" id="studyId" placeholder="Enter Study ID">
<button onclick="getStudyInfo()">Get Info About This Study</button>
<button onclick="getStudyDicoms()">Get DICOMs for This Study</button>
</body>
</html>
